{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'main.css' %}" rel="stylesheet">
    <link href="{% static 'home.css' %}" rel="stylesheet">
    <title>Document</title>
    <style>
        .ar{
            text-align: right;
        }
    </style>
</head>

<body>
    <nav class="top_nav">
        <h2 class="logo">Aboutus Page</h2>
        
        <ul>
            <li><a href="home2">Home</a></li>
            <li><a href="contact">Contactus</a></li>
            <li><a href="logout">Logout</a></li>
        </ul>
    </nav>
   
</body>
</html>